<form>
<table>
    <thead>
    <tr>
        <h2> Invoices </h2>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>

    </tr>
    </thead>

    <tbody>
        <tr th:each="invoice:${invoices}">


            <td th:text="${invoice.title}" />
            <td th:text="${invoice.date}" />
            <td th:text="${invoice.description}" />
            <td th:text="${invoice.category}" />
            <td th:text="${invoice.price}" />
                <td>


                <button type="submit" formaction="invoicePage/delete" formmethod="post">Delete</button>
                    <button type="submit" formaction="editPage/update" formmethod="post">Edit</button>
                <input type="text" th:value="${invoice.id}" name="invoiceId">


        </tr>
    </tbody>
</table>
    <br>
    <button type="submit" formaction="login" formmethod="GET">Logout</button>
    <button type="submit" formaction="payment" formmethod="GET">Register new invoice</button>
</form>
